a:hover {color: #000000;}
a:active {color: #000000;}

::selection {background: #000000; color: #fff;}
::-moz-selection {background: #000000; color: #fff;}
::-webkit-selection {background: #000000; color: #fff;}

#logo a:hover {color: #000000;}
#logo a:active {color: #000000;}

.menu a:hover {color: #000000;}
.menu a:active {color: #000000;}

.sub-menu a:hover {color: #000000;}
.sub-menu a:active {color: #000000;}

.toggle .fa-bars:hover {color: #000000;}
.toggle-home .fa-bars:hover {color: #000000;}

.button:hover {color: #fff; border: 2px solid #000000; background: #000000;}
.button:active {color: #fff; border: 2px solid #000000; background: #000000;}

.service-fa {color: #000000;}

.profile-pic {background: #000000 url(../images/profile.png) center center no-repeat;}

.category_postmetadata a:hover {color: #000000;}
.category_postmetadata a:active {color: #000000;}

a.more-link:hover {color: #fff; border: 2px solid #000000; background: #000000;}
a.more-link:active {color: #fff; border: 2px solid #000000; background: #000000;}

ol.commentlist li div.comment-meta a:hover {color: #000000;}
ol.commentlist li div.comment-meta a:active {color: #000000;}

ol.commentlist li div.reply a:hover {color: #000000;}
ol.commentlist li div.reply a:active {color: #000000;}

.blog_previous a:hover {color: #fff; border: 2px solid #000000; background: #000000;}
.blog_previous a:active {color: #fff; border: 2px solid #000000; background: #000000;}

.blog_next a:hover {color: #fff; border: 2px solid #000000; background: #000000;}
.blog_next a:active {color: #fff; border: 2px solid #000000; background: #000000;}

.portfolio-items .item-two-columns {background: #000000;}
.portfolio-items .item-three-columns {background: #000000;}
.portfolio-items .item-four-columns {background: #000000;}

#options a:hover {color: #000000;}
#options a:active {color: #000000;}

.item-button-previous:hover {
	border: 2px solid #000000;
	background: #000000 url(../images/item-button-previous-hover.png);
}

.item-button-return:hover {
	border: 2px solid #000000;
	background: #000000 url(../images/item-button-return-hover.png);
}

.item-button-next:hover {
	border: 2px solid #000000;
	background: #000000 url(../images/item-button-next-hover.png);
}

.item-category {color: #f4ced0;}

.logo-home a:hover {color: #000000;}
.logo-home a:active {color: #000000;}

.nav-home .menu a:hover {color: #000000;}
.nav-home .menu a:active {color: #000000;}

.text-home {color: #000000;}

.button-home {border: 2px solid #000000;}
.button-home:link {color: #000000;}
.button-home:visited {color: #000000;}
.button-home:hover {color: #fff; background: #000000;}
.button-home:active {color: #fff; background: #000000;}

.home-dash {background: #000000;}